/*сбросы*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/*блок адреса*/
.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.address a {
  display: block;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

.address p {
  margin: 0;
}

/* шаг 4. Шапка */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 0;
}

/*меню*/
.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  background-color: transparent;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 24.3px;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

/* логотип в шапке*/
.header__logo {
  display: block;
  width: 148px;
}

/*адрес в шапке*/
.header__address {
  justify-self: end;
  max-width: 240px;
}

/*обложка*/
.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
}

/*контент выше оверлея */
.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: bold;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/*описание, кнопка*/
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
}

/*Лоты*/
.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  margin-left: 40px;
  margin-top: 30px;
  border-bottom: 1px solid currentColor;
}

/*Об*/
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 180px 50px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}
